{% extends 'santamaria/base.html'%}
{% load static %}

{% block js %}

{% endblock %}



{% block css %}


{% endblock %}


{% block content %} 
{% load crispy_forms_tags%}
<div class="row">
    <div class="col-12 cold-m6 offset-md-3">
        <div class="card">
            <div "card-body">
                <h1> Contactanos</h1>
                <hr>
                <form action="" class "" method="post">
    
                    {% csrf_token %}    
        
        
        
                    {{ form | crispy}}
        
                    <br>
        
                    <div class="d-flex justify-content-end">
                        <input type="reset" id="btncancelar" class="btn btn-secondary">
                        &nbsp;
                        <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>        
  
                
        </div>  
  
    </div>
</div>    

{{message}}

<table table id="tablacontactos">

</table>
{% endblock %}