{% extends 'santamaria/base.html'%}
{% load static %}



{% block js %}

{% endblock %}



{% block css %}


{% endblock %}



{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">

                <div class="car">
                    <div class="card-body">
                        <h2>Ingresa tu Usuario</h2>
                        <br>
                    
                        <form acction="" method="post">
                            {% csrf_token %}
                            {{ form | crispy}}
                            <br>
                            
                            <a href="{% url 'home' %}">Ir al Home</a> |
                            <a href="{% url 'registro' %}">Registrate</a> |
                            
                            <input type="submit" value="Ingresar" class="btn btn-primary float-right">
                        </form>
                       
                    </div>     
                </div>
            </div>


        </div>



    </div>


{% endblock %}